* {
    padding: 0px;
    background-color: white;
    margin: 0px;
}

.header {
background-color: rebeccapurple;
height: 230px;
}

.header #title {
    display: block;
    background-color: transparent;
    color: white;   
    font-size: 50px;
    height: 50px;
    text-decoration: none;
    text-align: center;
}

.header #para {
    background-color: transparent;
    text-indent: 10px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    color:white;
    font-family:"Orbitron";
    word-spacing: 15px;
    letter-spacing: 4px;
    line-height:25px ;
}

#details {

    display: flex;
    background-color: transparent;
    margin-top: 50px;
    height: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 120px;
}

#details .detail {

    display: inline-block;
    background-color: rebeccapurple ;
    width : 300px;
    height: 400px;
    padding-top: 30px;
    border-radius: 30px;
    margin-left: 100px;

}

#details .detail:hover {
    background-color: black;
}
#details .detail img {
    margin-left:39px ;
    border-radius: 10px;

}

#details .detail .links {
    background-color: transparent;
    display: column;
}

#details .detail .links .link {
    display: flex;
    background-color: transparent;
    background-color: transparent;
    margin-bottom: 10px;

}
#details .detail .links .link img {
    margin-left: 10px;
}

#details .detail .links .link a {
    color: white;
    text-decoration: none;
    background-color: transparent;
    height: 20px;
    margin-top: 5px;
    font-family: "Cinzel";
    letter-spacing: 3px;
    text-align: center;
    background-color: blue;
    width:240px;
    border-radius: 15px;
}

#details .detail .links .link a:hover {
    background-color: rebeccapurple;
}