* {
    background-color: white ;
    padding: 0;
    margin: 0;
 }

#header {
    background-color:rebeccapurple; 
    margin-top: 0;
    height: 68px;
    display: flex;
 }

#header h1{
    background-color :  transparent;
    display: inline-block;
    color: white;
    margin-top: 25px;
    margin-left: 20px;
    font-size:20px;
    transform: scale(1, 1.5);
    font-family: "Cinzel";


}

#header a {

    background-color: transparent;
    text-decoration: none;
    color:white;
    font-family:  "Orbitron";
    display: inline-block;
    font-weight: bolder;
    margin-left: 25px;
    margin-top: 30px;
    text-decoration: none;

}
#header a#login , #header a#signin{

    background-color:  rgb(35, 2, 255);    ;
    text-decoration: none;
    color:white;
    font-family:  "Orbitron";
    font-weight: bolder;
    margin-left: 550px;
    margin-top: 30px;
    height: 24px;
    width: 70px;
    text-align: center;
    border-radius: 30px;
}
#header a#signin {
    margin-left: 35px;
    width: 80px;
}
#header a#login:hover , #header a#signin:hover {
    color: rgb(17, 0, 127);
    background-color:white ;
    cursor: pointer;
}

#header a:hover {
    color: rgb(0, 0 ,0);
    cursor: pointer;
}

#header a#wel {
    
    color : black;
    margin-left: 25px;
    
}
 .centerbody {
    display: flex;
    background-image: url("images/welcome-background.png");
    background-position: center;
    background-repeat: no-repeat ;
    background-size:cover;
    position: relative;
    height: 670px;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
 }

 .centerbody #clg {
    display: inline-block;
    background-color: transparent;
    color: rebeccapurple;   
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 0px;
    height: 50px;
    text-decoration: none;

    
 }
 .centerbody #clg:hover {
    cursor: pointer;
 }

 .centerbody   #dis {
    display: inline-block;
    background-color: transparent;
    color: rgb(244, 244, 244);   
    margin-top: 10px;
    font-weight: bolder;
    transform: scale(1,1.2);
    word-spacing: 5px;
 }

 .centerbody   #predli {
    display: inline-block;
    color: rebeccapurple;   
    margin-top: 340px;
    background-color: transparent;
    font-weight: bolder;
    transform: scale(1,1.2);
    word-spacing: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
    text-decoration: none;

 }

 .centerbody   #predli:hover {

    cursor: pointer;
 }